body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-header{
    background-color: #2196f3;
    color: white;
}


.custom-header2{
    background-color: green;
    color: white;
}

.custom-header3{
    background-color: black;
    color: white;
}

.custom-header4{
    background-color: red;
    color: white;
}
